# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python cache
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# GitHub Actions
.github/

# Build
build.py
output/

# Resources
res/

# Readme
README.md
